<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="tenantDetails">
    <div class="d-flex justify-content-between mb-5">
      <p class="fs-4">施設情報管理</p>
      <div>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </div>
    
    <nav>
      <div class="nav nav-tabs">
        <button
          @click="onTabChange('1')"
          :class="{'active': tabActive === '1'}"
          class="nav-link"
          type="button"
        >施設情報編集</button>
        <button
          @click="onTabChange('2')"
          :class="{'active': tabActive === '2'}"
          class="nav-link"
          type="button"
        >商品規約</button>
        <button
          @click="onTabChange('3')"
          :class="{'active': tabActive === '3'}"
          class="nav-link"
          type="button"
        >画像</button>
      </div>
    </nav>

    <div class="tab-content pt-5">
      <!-- 施設情報編集 -->
      <div v-if="tabActive === '1'" class="tab-pane fade show active">
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            施設名
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <input
              name="facility_name"
              maxlength="50"
              type="text"
              class="form-control mb-2"
            />
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            施設住所
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <textarea
              name="facility_address"
              maxlength="161"
              minlength="9"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            電話番号
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <input
              name="phone_number"
              maxlength="21"
              type="number"
              class="form-control mb-2"
            />
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            営業時間
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <textarea
              name="business_hours"
              maxlength="50"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            定休日
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <input
              name="holiday"
              maxlength="50"
              type="text"
              class="form-control mb-2"
            />
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            交通アクセス
            <span class="badge bg-danger">必須</span>
          </label>
          <div class="col-md-8">
            <textarea
              name="access"
              maxlength="400"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            マップ
          </label>
          <div class="col-md-8">
            <textarea
              name="map"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            注意事項
          </label>
          <div class="col-md-8">
            <textarea
              name="notes"
              maxlength="400"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            ホームページURL
          </label>
          <div class="col-md-8">
            <input
              name="url"
              maxlength="2000"
              type="text"
              class="form-control mb-2"
            />
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            紹介文
          </label>
          <div class="col-md-8">
            <textarea
              name="Introduction"
              rows="3"
              maxlength="1200"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            フリーエリア
          </label>
          <div class="col-md-8">
            <textarea
              name="area"
              rows="3"
              maxlength="1200"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- 商品規約 -->
      <div v-else-if="tabActive === '2'" class="tab-pane fade show active">
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            利用規約
          </label>
          <div class="col-md-8">
            <textarea
              name="terms"
              maxlength="1200"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            旅行業法
          </label>
          <div class="col-md-8">
            <textarea
              name="travel_agency"
              maxlength="1200"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            特定商取引法
          </label>
          <div class="col-md-8">
            <textarea
              name="specified_commercial"
              maxlength="1200"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            プライバシーポリシー
          </label>
          <div class="col-md-8">
            <textarea
              name="privacy_policy"
              maxlength="1200"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-4 col-form-label">
            キャンセルポリシー
          </label>
          <div class="col-md-8">
            <textarea
              name="cancellation_policy"
              maxlength="1200"
              rows="3"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
      </div>
      <!-- 画像 -->
      <div v-else-if="tabActive === '3'" class="tab-pane fade show active">
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            ロゴ
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="logo_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('logo')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル①
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_1_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_1')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル②
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_2_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_2')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル③
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_3_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_3')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル④
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_4_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_4')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル⑤
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_5_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_5')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
        <div class="form-group row mb-5">
          <label class="col-sm-4 col-form-label">
            カルーセル⑥
          </label>
          <div class="col-md-8">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <img :src="carousel_6_View">
            </div>
            <div class="d-flex flex-row-reverse">
              <button @click="onModalShow('carousel_6')" type="submit" class="btn btn-secondary ms-auto">編集</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- モーダル -->
    <div :style="modalCurrent ? 'display: block' : 'display: none'" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ファイルアップロード</h5>
            <button @click="onModalClose" type="button" class="btn-close"></button>
          </div>
          <div
            @dragover.prevent="onFileDrag(true)"
            @dragleave="onFileDrag(false)"
            @drop.prevent="onFileDrop" 
            :class="{fileAreaFocus: isFileAreaFocus}"
            class="modal-body m-3"
          >
            <p>ここにファイルをドラッグ＆ドロップ<br>または</p>
            <input type="file" @change="onFileChange"/>
          </div>
        </div>
      </div>
    </div>
   
  </main>
</div>

<script type="text/javascript">
new Vue({
  el: "#tenantDetails",
  data: {
    modalCurrent: "",
    tabActive: "1",
    isFileAreaFocus: false,
    // 表示データ
    logo_View: "",
    carousel_1_View: "",
    carousel_2_View: "",
    carousel_3_View: "",
    carousel_4_View: "",
    carousel_5_View: "",
    carousel_6_View: "",
    // 登録データ
    logo: "",
    carousel_1: "",
    carousel_2: "",
    carousel_3: "",
    carousel_4: "",
    carousel_5: "",
    carousel_6: "",
  },
  methods: {
    onTabChange(num) {
      this.tabActive = num;
    },
    onModalShow(name) {
      this.modalCurrent = name;
    },
    onModalClose() {
      this.modalCurrent = "";
    },
    onFileDrag(flag) {
      this.isFileAreaFocus = flag;
    },
    onFileDrop(event) {
      this.isFileAreaFocus = false;
      const files = event.dataTransfer.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    onFileChange(event) {
      const files = event.target.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    createFileData(files) {
      const reader = new FileReader();
      reader.readAsDataURL(files[0]);
      reader.onloadend = () => {
        this[this.modalCurrent] = reader.result;
      };
      this[this.modalCurrent + "_View"] = URL.createObjectURL(files[0]);
      this.modalCurrent = "";
    },
  }
})
</script>
</body>
</html>