<nav class="sidebar">
  <div class="userRow">
    <img src="/images/icon/icon.svg">
    富士急　太郎
    <img class="arow" src="/images/icon/arow.svg">
    <p>グループ切替</p>
    <button type="button">アカウントグループ</button>
  </div>
  <a href="" class=""><img src="/images/icon/tenant.svg">施設管理</a>
  <a href="" class=""><img src="/images/icon/products.svg">商品管理</a>
  <a href="" class=""><img src="/images/icon/bus.svg">バス管理</a>
  <a href="" class=""><img src="/images/icon/hotel.svg">ホテル管理</a>
  <a href="" class=""><img src="/images/icon/inventory.svg">在庫管理</a>
  <a href="" class=""><img src="/images/icon/order.svg">注文管理</a>
  <a href="" class=""><img src="/images/icon/receipt.svg">レポート</a>
  <a href="" class=""><img src="/images/icon/coupon.svg">クーポン管理</a>
  <a href="" class=""><img src="/images/icon/account.svg">アカウント管理</a>
  <a href="" class=""><img src="/images/icon/notification.svg">お知らせ管理</a>
  <a href="" class=""><img src="/images/icon/members.svg">会員管理</a>
  <a href="" class=""><img src="/images/icon/maintenance.svg">メンテナンス管理</a>
  <a href="" class=""><img src="/images/icon/logging.svg">ログ照会</a>
  <a href="" class=""><img src="/images/icon/logout.svg">ログアウト</a>
</nav>