.header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background-color: #1867C0;
  padding-left: 25px;
}
.header .title {
  color: #FFF;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
}
.header .title span {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}

#sidebar {
  z-index: 1;
  box-sizing: border-box;
  overflow-y: scroll;
  position: fixed;
  top: 90px;
  width: 300px;
  height: 100%;
  padding: 20px 20px;
  list-style-type: none;
  background-color: #EFF4FC;
}
#sidebar .userRow {
  height: 48px;
  background-color: #FFF;
  padding: 12px 20px 15px 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(195, 195, 195, 0.45);
}
#sidebar .userRow .topArea {
  position: relative;
  margin-bottom: 20px;
}
#sidebar .userRow .topArea .name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}
#sidebar .userRow .topArea .icon {
  width: 20px;
  height: 20px;
  vertical-align: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}
#sidebar .userRow .topArea .arow {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 0;
  transform: scale(1, -1);
}
#sidebar .userRow button {
  position: relative;
  width: 100%;
  height: 38px;
  line-height: 38px;
  border: 1px solid #E0E0E0;
  background-color: #FFF;
  border-radius: 5px;
  color: #868E96;
  text-align: left;
  padding: 0 15px;
}
#sidebar .userRow button img {
  position: absolute;
  top: 44%;
  right: 15px;
  transform: translate(0, -50%);
  transform: scale(1, -1);
}
#sidebar .userRow.active {
  height: auto;
}
#sidebar .userRow.active .topArea .arow {
  cursor: pointer;
  transform: inherit;
}
#sidebar a {
  display: block;
  font-size: 14px;
  color: #3265BA;
  padding: 4px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}
#sidebar a:last-child {
  margin-bottom: 0;
}
#sidebar a img {
  vertical-align: middle;
  margin-right: 10px;
}
#sidebar a.active {
  background-color: #D6E5FF;
}

html, body {
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type=file] {
  color: transparent;
}

#noticeInquiryPage .field-input {
  height: 31px;
  min-height: 31px;
  padding-top: initial;
}

.redDC3545 {
  color: #DC3545;
}

.pe-pointer {
  cursor: pointer;
}

.layout {
  background-color: #f5f5fa;
}
.layout main {
  box-sizing: border-box;
  position: absolute;
  top: 90px;
  left: 300px;
  width: calc(100% - 350px);
  margin: 0 25px;
  padding: 25px 0 45px 0;
  border-radius: 3px;
  background-color: #fff;
}

.baseShadow {
  box-shadow: 0px 0px 5px 2px rgba(207, 207, 207, 0.45);
}

.baseBtnGrey {
  color: #343A40;
  background-color: #E2E6EA;
}

.baseBtnBlue {
  color: #FFF;
  background-color: #0069D9;
}
.baseBtnBlue:hover {
  color: #FFF;
}

.modalMain {
  z-index: 3;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  width: auto;
  height: auto;
}
.modalMain .fileAreaFocus {
  border: 10px dotted powderblue;
}

.modalBg {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: black;
  opacity: 0.3;
}

.date-time-picker .field-input {
  height: 37px;
  min-height: 37px;
}

.ti-tag {
  border-radius: 10px !important;
  background-color: #6C757D !important;
}

.ti-selected-item {
  background-color: #6C757D !important;
}

.vue-tags-input,
.ti-input,
.ti-autocomplete {
  position: inherit !important;
}

.fc-header-toolbar {
  margin-bottom: 15px !important;
}
.fc-header-toolbar .fc-toolbar-title {
  font-size: 16px;
}

.fc-view-harness .fc-scrollgrid {
  overflow: hidden;
  border: 0;
  border-radius: 5px;
}
.fc-view-harness .fc-scrollgrid .fc-col-header {
  color: #FFF;
  background-color: #0069D9;
}
.fc-view-harness .fc-scrollgrid .fc-col-header .fc-col-header-cell {
  font-size: 12px;
  font-weight: normal;
  border: 0;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-daygrid-day {
  border: 1px solid #FFF;
  background-color: #EFF4FC;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-day-other {
  background-color: #FFFFFF;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-day-other .fc-daygrid-day-events {
  display: none;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-daygrid-event-harness {
  cursor: pointer;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-daygrid-event-harness .fc-daygrid-event {
  font-size: 10px;
  text-align: center;
  border-radius: 10px;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-daygrid-event-harness .fc-daygrid-event .fc-event-time {
  display: none;
}
.fc-view-harness .fc-scrollgrid .fc-daygrid-body .fc-daygrid-day-number {
  font-size: 12px;
}/*# sourceMappingURL=app.css.map */