<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <main id="loginIndex" style="width: 100%; height:100%; top: 36vh; left: 50%; transform: translate(-50%, -50%);">
    <div style="width: 368px; margin: auto;" class="text-center">
      <h4 class="mb-5 fw-bold">
        ログイン
      </h4>

      <form @submit.prevent="onSubmit" name="login">
        <div class="mb-5">
          <!-- ID -->
          <input
            v-model="id"
            name="id"
            maxlength="254"
            type="text"
            class="form-control"
            placeholder="ユーザーIDまたはメールアドレスを入力"
            style="border-bottom: 0; border-radius: .25rem .25rem 0 0;"
          />
          <!-- パスワード -->
          <input
            v-model="password"
            name="password"
            maxlength="99"
            type="text"
            class="form-control mb-3"
            placeholder="パスワードを入力"
            style="border-radius: 0 0 .25rem .25rem;"
          />
          <div v-if="$v.id.$dirty" class="text-danger fw-bold" style="font-size: 14px;">
            <p v-if="!$v.id.required">ユーザーIDまたはメールアドレスが入力されていません。</p>
          </div>
          <div v-if="$v.password.$dirty" class="text-danger fw-bold" style="font-size: 14px;">
            <p v-if="!$v.password.required">パスワードが入力されていません。</p>
          </div>
        </div>
        <!-- ログインボタン -->
        <input type="submit" value="ログイン" class="btn baseBtnBlue" style="width: 156px">
      </form>
    </div>
  </main>
</div>

<script type="text/javascript">
Vue.use(window.vuelidate.default);
const { required, minLength } = window.validators;

new Vue({
  el: "#loginIndex",
  data: {  
    // 送信データ
    id: "",          // ID
    password: "",    // パスワード
  },
  validations: {
    id: {
      required
    },
    password: {
      required
    },
  },
  methods: {
    /**
     * ログイン処理
     */ 
    onSubmit() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        document.login.method="post";
        document.login.action = "/login";
        document.login.submit();
      }
    },
  }
})
</script>
</body>
</html>