<%- include('../partials/head'); %>

<body>
  <div class="layout">
    <%- include('../partials/header'); %>
    <main>
      <%- include('../partials/sidebar'); %>
      <section>
      </section>
    </main>
  </div>

  <script type="text/javascript">
  let response= `<%- response %>`;
  console.log(JSON.parse(response));
  </script>
</body>
</html>