<%- include('../../partials/head'); %>

<body>
  <div class="layout">
    <%- include('../../partials/header'); %>
    <main>
      <%- include('../..//partials/sidebar'); %>
      <section>
      </section>
    </main>
  </div>

<script type="text/javascript">
</script>
</body>
</html>