<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="accountGroupsIndex">
    <h4 class="mb-4 fw-bold" style="color:#0069D9;">
      <img src="/images/icon/account.svg" style="width: 24px;">
      アカウントグループ照会
    </h4>

    <div class="d-flex flex-row-reverse mb-5">
      <a href="/accountGroups/regist">
        <input type="button" value="新規登録" class="btn baseBtnBlue" style="width: 156px">
      </a>
    </div>
   
    <!-- 一覧テーブル -->
    <div style="overflow: auto; width: 100%; height: 200px;" class="mb-5">
      <table class="table align-middle">
        <thead>
          <tr>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">アカウントグループID</th>
            <th style="z-index: 101; position: sticky; top: 0; left: 0; background: white;">アカウントグループ名</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in accountGroups"
            :key="index"
            @click="onActionList(item)"
            style="position: relative;"
          >
            <td>{{ item.id }}</td>
            <td>{{ item.accountGroupName }}</td>
            <td style="width: 0;">
              <ul
                :ref="item.id"
                class="dropdown-menu"
                style="left: 50%; transform: translate(-50%, -50%);"
              >
                <a :href=`/accountGroups/detail/${item.id}`><li class="dropdown-item small">詳細</li></a>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>

<script type="text/javascript">
const accountGroups = `<%- accountGroups %>`;

new Vue({
  el: "#accountGroupsIndex",
  data: {
    serchTabStatus: true,                            // 検索タブ
    // APIデータ
    accountGroups: JSON.parse(accountGroups)
  },
  mounted() {
    /**
     * アクションリスト（hide）
     */ 
    window.addEventListener('click', (e) => {
      if(!e.target.closest('.table.align-middle')) {
        const dropdowns = document.querySelectorAll('.dropdown-menu');
        dropdowns.forEach(function(el) {
          el.style.display = 'none';
          el.closest('tr').style.backgroundColor = 'inherit';
        });
      }
    })
  },
  methods: {
    /**
     * アコーディオン
     */ 
     onTabToggle(target) {
      this[target] = !this[target];
    },
    /**
     * アクションリスト（show）
     */ 
     onActionList(item) {
      const dropdowns = document.querySelectorAll('.dropdown-menu');
      dropdowns.forEach(function(el) {
        el.style.display = 'none';
        el.closest('tr').style.backgroundColor = 'inherit';
      });
      this.$refs[item.id][0].style.display = 'block';
      this.$refs[item.id][0].closest('tr').style.backgroundColor = '#E7E7E7';

    },
  }
})
</script>
</body>
</html>