<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="membersDetail">
    <h4 class="mb-4 fw-bold">会員詳細</h4>
    <form @submit.prevent="onRegist" name="membersRegist">
      <!-- 会員ID -->
      <div class="mb-4">
        <label class="form-label" style="color: #757575">会員ID</label>
        <p style="font-size: 18px" class="mb-0">{{ membersId }}</p>
      </div>

      <!-- パスワード -->
      <div class="mb-4">
        <label class="form-label d-block" style="color: #757575">パスワード</label>
        <span v-if="passwordDisplay" style="font-size: 18px">*****</span>
        <span v-else style="font-size: 18px">{{ password }}</span>
        <img
          @click="onPasswordToggle"
          src="/images/icon/passwordDisplay.svg"
          class="align-text-top pe-pointer"
        >
      </div>

      <!-- 入会日 -->
      <div class="mb-5">
        <label class="form-label" style="color: #757575">入会日</label>
        <p style="font-size: 18px" class="mb-0">{{ joinDate }}</p>
      </div>

      <!-- 氏名 -->
      <div class="row mb-5">
        <label class="form-label">氏名 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="seiKanji"
            name="seiKanji"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="25"
          >
          <div v-if="$v.seiKanji.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.seiKanji.required">姓が入力されていません。</p>
            <p v-if="!$v.seiKanji.valid">姓は漢字のみで入力して下さい。</p>
          </div>
        </div>
        <div class="col-4">
          <input
            v-model="meiKanji"
            name="meiKanji"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="25"
          >
          <div v-if="$v.meiKanji.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.meiKanji.required">名が入力されていません。</p>
            <p v-if="!$v.meiKanji.valid">名は漢字のみで入力して下さい。</p>
          </div>
        </div>
      </div>

      <!-- フリガナ -->
      <div class="row mb-5">
        <label class="form-label">フリガナ <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="seiKana"
            name="seiKana"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="25"
          >
          <div v-if="$v.seiKana.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.seiKana.required">セイが入力されていません。</p>
            <p v-if="!$v.seiKana.valid">セイはカタカナのみで入力して下さい。</p>
          </div>
        </div>
        <div class="col-4">
          <input
            v-model="meiKana"
            name="meiKana"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="25"
          >
          <div v-if="$v.meiKana.$dirty" class="text-danger fw-bold mt-3">
            <p v-if="!$v.meiKana.required">メイが入力されていません。</p>
            <p v-if="!$v.meiKana.valid">メイはカタカナのみで入力して下さい。</p>
          </div>
        </div>
      </div>

      <!-- メールアドレス -->
      <div class="row mb-5">
        <label class="form-label">メールアドレス <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="mail"
            name="mail"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="254"
          >
        </div>
        <div v-if="$v.mail.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.mail.email">メールアドレスの形式で入力して下さい。</p>
          <p v-if="!$v.mail.valid">入力不可能な文字があります。正しい値で入力して下さい。</p>
        </div>
      </div>

      <!-- 電話番号 -->
      <div class="row mb-5">
        <label class="form-label">電話番号 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="tell"
            name="tell"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="15"
          >
        </div>
        <div v-if="$v.tell.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.tell.alphaNum">入力不可能な文字があります。正しい値で入力して下さい。</p>
        </div>
      </div>

      <!-- 性別 -->
      <div class="row mb-5">
        <label class="form-label">性別 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <div class="form-check mb-2">
            <input
              v-model="sex"
              name="sex"
              class="form-check-input"
              type="radio"
              id="sex_1"
              value="男性"
            >
            <label class="form-check-label" for="sex_1">男性</label>
          </div>
          <div class="form-check">
            <input
              v-model="sex"
              name="sex"
              class="form-check-input"
              type="radio"
              id="sex_2"
              value="女性"
            >
            <label class="form-check-label" for="sex_2">女性</label>
          </div>
        </div>
      </div>

      <!-- 生年月日 -->
      <div class="row mb-5">
        <label class="form-label">生年月日 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <vue-ctk-date-time-picker
            name="dateBirth"
            v-model="dateBirth"
            formatted="YYYY/MM/DD"
            position="top"
            only-date
            label=""
          /></vue-ctk-date-time-picker>
        </div>
        <div v-if="$v.dateBirth.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.dateBirth.required">生年月日が入力されていません。</p>
        </div>
      </div>

      <!-- 郵便番号 -->
      <div class="row mb-5">
        <label class="form-label">郵便番号</label>
        <div class="col-4">
          <input
            v-model="postCode"
            name="postCode"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="8"
          >
        </div>
        <div v-if="$v.postCode.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.postCode.alphaNum">入力不可能な文字があります。正しい値で入力して下さい。</p>
        </div>
      </div>

      <!-- 都道府県 -->
      <div class="row mb-5">
        <label class="form-label">都道府県 <span class="redDC3545">*必須</span></label>
        <div class="col-4">
          <input
            v-model="prefectures"
            name="prefectures"
            type="text"
            class="form-control"
            placeholder=""
            maxlength="4"
          >
        </div>
        <div v-if="$v.prefectures.$dirty" class="text-danger fw-bold mt-3">
          <p v-if="!$v.prefectures.required">都道府県が入力されていません。</p>
          <p v-if="!$v.prefectures.valid">入力不可能な文字があります。正しい値で入力して下さい。</p>
        </div>
      </div>

      <!-- 住所 -->
      <div class="row mb-5">
        <label class="form-label">住所</label>
        <div class="col-4">
          <input
            v-model="address"
            name="address"
            type="text"
            class="form-control"
            placeholder=""
          >
        </div>
      </div>

      <!-- 購入履歴 -->
      <h5 class="mb-4 fw-bold">購入履歴</h5>
      <div style="overflow: auto; width: 100%; height: 320px;">
        <table class="table align-middle">
          <thead>
            <tr>
              <th style="position: sticky; top: 0; left: 0; background: white;">取引日時</th>
              <th style="position: sticky; top: 0; left: 0; background: white;">取引ID</th>
              <th style="position: sticky; top: 0; left: 0; background: white;">購入テナント</th>
              <th style="position: sticky; top: 0; left: 0; background: white;">商品点数</th>
              <th style="position: sticky; top: 0; left: 0; background: white;">支払方法</th>
              <th style="position: sticky; top: 0; left: 0; background: white;">合計金額</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in forms.purchaseHistory" :key="index">
              <td>{{ item.transactionDate }}</td>
              <td>{{ item.transactionId }}</td>
              <td>{{ item.purchaseTenant }}</td>
              <td>{{ item.productNumber }}</td>
              <td>{{ item.paymentMethod }}</td>
              <td>{{ Number(item.totalAmount).toLocaleString() }}円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 p-0 text-end">
        <button :disabled="!authority" type="submit" class="btn mt-4 baseBtnBlue" style="width: 156px;">
          保存
        </button>
      </div>
    </form>
  </main>
</div>

<script type="text/javascript">
const forms = `<%- forms %>`;

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

Vue.use(window.vuelidate.default);
const { required, email, alphaNum } = window.validators;

// 漢字のみか
let regexpKanji = /^([\u{3005}\u{3007}\u{303b}\u{3400}-\u{9FFF}\u{F900}-\u{FAFF}\u{20000}-\u{2FFFF}][\u{E0100}-\u{E01EF}\u{FE00}-\u{FE02}]?)+$/mu;
// カタカナのみか
let regexpKatakana = /^[\u{3000}-\u{301C}\u{30A1}-\u{30F6}\u{30FB}-\u{30FE}]+$/mu;
// 全角があるか
let regexpZenkaku = /[^\x01-\x7E\uFF61-\uFF9F]/;
// 郵便番号であるか
let regexpPostCode = /^[0-9]{3}-[0-9]{3}$/;

new Vue({
  el: "#membersDetail",
  data: {
    passwordDisplay: false,      // パスワード（表示切り替え）
    authority: false,            // 権限
    // APIデータ
    forms: JSON.parse(forms),
    // 登録データ
    membersId: "",               // 会員ID
    password: "",                // パスワード
    joinDate: "",                // 入会日
    seiKanji: "",                // 姓
    meiKanji: "",                // 名
    seiKana: "",                 // セイ
    meiKana: "",                 // メイ
    mail: "",                    // メールアドレス
    tell: "",                    // 電話番号
    sex: "",                     // 性別
    dateBirth: "",               // 生年月日
    postCode: "",                // 郵便番号
    prefectures: "",             // 都道府県
    address: "",                 // 住所
  },
  validations: {
    seiKanji: {
      required,
      valid: function(value) {
        let result = false;
        if (new RegExp(regexpKanji).test(value)) result = true;
        return result;
      }
    },
    meiKanji: {
      required,
      valid: function(value) {
        let result = false;
        if (new RegExp(regexpKanji).test(value)) result = true;
        return result;
      }
    },
    seiKana: {
      required,
      valid: function(value) {
        let result = false;
        if (new RegExp(regexpKatakana).test(value)) result = true;
        return result;
      }
    },
    meiKana: {
      required,
      valid: function(value) {
        let result = false;
        if (new RegExp(regexpKatakana).test(value)) result = true;
        return result;
      }
    },
    mail: {
      email,
      valid: function(value) {
        let result = false;
        if (!new RegExp(regexpZenkaku).test(value)) result = true;
        return result;
      }
    },
    tell: {
      alphaNum
    },
    dateBirth: {
      required
    },
    postCode: {
      alphaNum
    },
    prefectures: {
      required,
      valid: function(value) {
        let result = false;
        if (new RegExp(regexpKanji).test(value)) result = true;
        return result;
      }
    },
  },
  created() {
    this.setInitData();
  },
  methods: {
    /**
     * 登録情報セット
     */ 
    setInitData() {
      this.authority = this.forms.authority;
      this.membersId = this.forms.membersId;
      this.password = this.forms.password;
      this.joinDate = this.forms.joinDate;
      this.seiKanji = this.forms.seiKanji;
      this.meiKanji = this.forms.meiKanji;
      this.seiKana = this.forms.seiKana;
      this.meiKana = this.forms.meiKana;
      this.mail = this.forms.mail;
      this.tell = this.forms.tell;
      this.sex = this.forms.sex;
      this.dateBirth = this.forms.dateBirth;
      this.postCode = this.forms.postCode;
      this.prefectures = this.forms.prefectures;
      this.address = this.forms.address;
    },
    /**
     * パスワード（表示切り替え）
     */ 
    onPasswordToggle() {
      this.passwordDisplay = !this.passwordDisplay;
    },
    /**
     * 更新処理
     */ 
     onRegist() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        document.membersRegist.method="post";
        document.membersRegist.action = `/members/detail/${location.pathname.split('/')[3]}`;
        document.membersRegist.submit();
      }
    },
  }
})
</script>
</body>
</html>