<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="maintenanceIndex">    
    <h4 class="mb-4 fw-bold" style="color:#0069D9;">
      <img src="/images/icon/maintenance.svg" style="width: 24px;">
      メンテナンス設定
    </h4>

    <form @submit.prevent="onSerch">
      <!-- 登録フォーム -->
      <div class="baseShadow p-3 mb-5">
    
        <!-- 開始・終了日時 -->
        <div class="col-12 mb-4">
          <div class="d-inline-block">
            <label class="form-label fw-bold">開始日時</label>
            <vue-ctk-date-time-picker
              name="startDate"
              v-model="startDate"
              formatted="YYYY/MM/DD"
              only-date
              :min-date="minDate"
              :label="'From'"
              position="top"
            /></vue-ctk-date-time-picker>
          </div>
          <div class="d-inline-block">〜</div>
          <div class="d-inline-block">
            <label class="form-label fw-bold">終了日時</label>
            <vue-ctk-date-time-picker
              name="endDate"
              v-model="endDate"
              formatted="YYYY/MM/DD"
              only-date
              :min-date="minDate"
              :label="'To'"
              position="top"
            /></vue-ctk-date-time-picker>
          </div>
          <div class="d-inline-block">
            <input type="submit" value="登録" class="btn baseBtnBlue" style="width: 156px;">
          </div>
        </div>
      </div>
      <!-- 一覧テーブル -->
      <h5 class="mb-4 fw-bold">メンテナンス一覧</h5>
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">メンテナンス対象</th>
            <th scope="col">テナント名</th>
            <th scope="col">機能名</th>
            <th scope="col">開始日時</th>
            <th scope="col">終了日時</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in tenants" :key="index">
            <th>{{ index + 1 }}</th>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <input
                @change="onTenantChange($event, item)"
                class="form-check-input"
                type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
</div>


<script type="text/javascript">
const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

new Vue({
  el: "#maintenanceIndex",
  data: {
    // 登録データ
    startDate: null,             // 開始日時 (From)
    endDate: null,               // 終了日時 (To)
  },
  methods: {
  }
})
</script>
</body>
</html>