<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="ordersRegist">
    <form @submit.prevent="onSubmit" name="orders">
      <h4 class="mb-4 fw-bold" style="color:#0069D9;">
        <img src="/images/icon/order.svg" style="width: 24px;">
        <template class="fs-4">注文詳細</template>
      </h4>

      <div class="text-end">
        <button
          @click="onActionModalOpen"
          type="button"
          class="btn baseBtnBlue"
          style="width: 156px;"
        >キャンセル</button>
      </div>

      <h5 class="mb-4 fw-bold">取引情報</h5>
      <div class="baseShadow p-3 mb-5">
        <!-- 取引ID -->
        <div class="row mb-4">
          <label class="form-label">取引ID</label>
          <label class="form-label">{{ transactionId }}</label>
        </div>
        <!-- 取引ステータス -->
        <div class="row mb-4">
          <label class="form-label">取引ステータス</label>
          <label class="form-label">{{ transactionStatus }}</label>
        </div>
        <!-- 取引日時 -->
        <div class="row mb-4">
          <label class="form-label">取引日時</label>
          <label class="form-label">{{ transactionDatetime }}</label>
        </div>
        <!-- 購入テナント -->
        <div class="row mb-4">
          <label class="form-label">購入テナント</label>
          <label class="form-label">{{ purchaseTenant }}</label>
        </div>
        <!-- 支払方法 -->
        <div class="row mb-4">
          <label class="form-label">支払方法</label>
          <label class="form-label">{{ paymentWayType }}</label>
        </div>
        <h5 class="mb-4 fw-bold">支払情報</h5>
        <div class="baseShadow p-3 mb-5">
          <!-- 商品代金 -->
          <div class="row mb-4">
            <label class="form-label">商品代金
              <span style="margin-left: 10px;">
                ¥{{ Number(totalFee).toLocaleString() }}
              </span>
            </label>
          </div>
          <!-- テナントクーポン割引額 -->
          <div class="row mb-4">
            <label class="form-label">テナントクーポン割引額
              <template v-if="tenantCouponApplyFee">
                -¥{{ Number(tenantCouponApplyFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </label>
          </div>
          <!-- DMPクーポン割引額 -->
          <div class="row mb-4">
            <label class="form-label">DMPクーポン割引額
              <template v-if="dmpCouponApplyFee">
                -¥{{ Number(dmpCouponApplyFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </label>
          </div>
          <!-- コンビニ支払手数料 -->
          <div class="row mb-4">
            <label class="form-label">コンビニ支払手数料
              <span style="margin-left: 10px;">
                <template v-if="storePaymentCommission">
                  ¥{{ Number(storePaymentCommission).toLocaleString() }}
                </template>
                <template v-else>-</template>
              </span>
            </label>
          </div>
          <!-- 合計金額 -->
          <div class="row mb-4">
            <label class="form-label">合計金額
              <span style="margin-left: 10px;">
                ¥{{ calcPaymentSum().toLocaleString() }}
              </span>
            </label>
          </div>
          <h5 class="mb-4 fw-bold">注文情報</h5>
          <div
            v-for="(item, index) in orderInformations" :key="index"
            class="tabToggle active baseShadow p-3 mb-5"
          >
            <!-- 商品ID -->
            <div class="d-flex justify-content-between mb-4">
              <label class="form-label">
                <span style="width: 120px; display: inline-block;">商品ID</span>
                <span>{{ item.productId }}</span>
              </label>
              <div>
                <input
                  v-if="item.isProductedSet"
                  @click="onPartialCancellPage"
                  type="button"
                  value="部分キャンセル"
                  class="btn baseBtnBlue"
                  style="width: 156px"
                >
                <img @click="onTabToggle" src="/images/icon/arow.svg">
              </div>
            </div>

            <!-- 利用日時（単体商品・セット商品） -->
            <div v-if="item.hotel === undefined" class="row mb-4">
              <label class="form-label">
                <span style="width: 120px; display: inline-block;">利用日時</span>
                <span>{{ item.useDate }}</span>
              </label>
            </div>

            <!-- 商品名 -->
            <div class="row mb-4">
              <label class="form-label">
                <span style="width: 120px; display: inline-block;">商品名</span>
                <span>{{ item.productName }}</span>
              </label>
            </div>

            <!-- ホテル（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-3">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">ホテル</span>
                <span>{{ item.hotel }}</span>
              </label>
            </div>

            <!-- 宿泊プラン（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-3">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">宿泊プラン</span>
                <span>{{ item.plan }}</span>
              </label>
            </div>

            <!-- 部屋タイプ（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-3">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">部屋タイプ</span>
                <span>{{ item.roomTypeCode }}</span>
              </label>
            </div>

            <!-- チェックイン（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-3">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">チェックイン</span>
                <span>{{ item.checkInDate }} {{ item.checkInTime }}</span>
              </label>
            </div>

            <!-- チェックアウト（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-3">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">チェックアウト</span>
                <span>{{ item.checkOutDate }}</span>
              </label>
            </div>

            <!-- 申込部屋数（ホテル） -->
            <div v-if="item.hotel !== undefined" class="row mb-4">
              <label class="form-label">
                <span style="margin-left: 20px; width: 120px; display: inline-block;">申込部屋数</span>
                <span>{{ item.roomCount }}部屋</span>
              </label>
            </div>

            <div v-if="item.routeOutbound !== undefined || item.routeReturn !== undefined" class="row mb-4">
              <label class="form-label" style="margin-left: 20px;">
                <!-- バス（往路） -->
                <div class="mb-3">往路</div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">路線</span>
                  <span>{{ item.routeOutbound }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">便番号/号車</span>
                  <span>{{ item.stoolNumberOutbound }}/{{ item.carNumberOutbound }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車日</span>
                  <span>{{ item.rideOutboundDate }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車バス停</span>
                  <span>{{ item.rideBusStopOutbound }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車時刻</span>
                  <span>{{ item.rideOutboundTime }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">降車バス停</span>
                  <span>{{ item.alightingBusStopOutbound }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">降車時刻</span>
                  <span>{{ item.alightingOutboundTime }}</span>
                </div>
                <div class="mb-4">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">座席</span>
                  <span>{{ item.seatOutbound }}</span>
                </div>
                <!-- バス（復路） -->
                <div class="mb-3">復路</div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">路線</span>
                  <span>{{ item.routeReturn }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">便番号/号車</span>
                  <span>{{ item.stoolNumberReturn }}/{{ item.carNumberReturn }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車日</span>
                  <span>{{ item.rideReturnDate }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車バス停</span>
                  <span>{{ item.rideBusStopReturn }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">乗車時刻</span>
                  <span>{{ item.rideReturnTime }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">降車バス停</span>
                  <span>{{ item.alightingBusStopReturn }}</span>
                </div>
                <div class="mb-3">
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">降車時刻</span>
                  <span>{{ item.alightingReturnTime }}</span>
                </div>
                <div>
                  <span style="margin-left: 20px; width: 120px; display: inline-block;">座席</span>
                  <span>{{ item.seatReturn }}</span>
                </div>
              </label>
            </div>

            <!-- 購入内容 -->
            <div class="row mb-4">
              <label class="form-label">
                <div style="width: 120px; display: inline-block;">購入内容</div>
                <div style="width: auto; display: inline-block; vertical-align: top;">
                  <div v-for="(v, i) in item.purchaseDetail" :key="i" style="margin-bottom: 10px;">
                    {{ v.ageElement }}
                    <span style="margin-left: 5px;">
                      x{{ v.purchaseQty }}
                    </span>
                    <span style="margin-left: 5px;">
                      ¥{{ Number(v.saleUnitPrice).toLocaleString() }}
                    </span>
                  </div>
                </div>
              </label>
            </div>

            <!-- ステータス -->
            <div class="row mb-4">
              <label class="form-label">
                <span style="width: 120px; display: inline-block;">ステータス</span>
                <span>{{item.orderStatus }}</span>
              </label>
            </div>

            <!-- ステータス更新日時 -->
            <div class="row mb-4">
              <label class="form-label">ステータス更新日時
                <span style="margin-left: 10px;">
                  {{ item.orderStatusUpdateDatetime }}
                </span>
              </label>
            </div>

            <!-- 小計 -->
            <div class="row mb-4">
              <label class="form-label">小計
                <span style="margin-left: 10px;">
                  ¥{{ calcOrderSum(item.purchaseDetail).toLocaleString() }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <h5 class="mb-4 fw-bold">クーポン情報</h5>
      <div class="baseShadow p-3 mb-3">
        <label class="form-label fw-bold mb-4">テナントクーポン情報</label>
        <!-- 適用クーポン名 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">適用クーポン名</span>
            <span style="margin-left: 10px;">{{ tenantCoupon[0].couponName }}</span>
          </label>
        </div>
        <!-- クーポンID -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">クーポンID</span>
            <span style="margin-left: 10px;">{{ tenantCoupon[0].couponId }}</span>
          </label>
        </div>
        <!-- 適用額 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">適用額</span>
            <span style="margin-left: 10px;">
              <template v-if="tenantCoupon[0].applyFee">
                ¥{{ Number(tenantCoupon[0].applyFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </span>
          </label>
        </div>
        <!-- テナント負担額 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">テナント負担額</span>
            <span style="margin-left: 10px;">
              <template v-if="tenantCoupon[0].tenantBurdenFee">
                ¥{{ Number(tenantCoupon[0].tenantBurdenFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </span>
          </label>
        </div>
      </div>
      <div class="baseShadow p-3 mb-5">
        <label class="form-label fw-bold mb-4">DMPクーポン情報</label>
        <!-- 適用クーポン名 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">適用クーポン名</span>
            <span style="margin-left: 10px;">{{ dmpCoupon[0].couponName }}</span>
          </label>
        </div>
        <!-- クーポンID -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">クーポンID</span>
            <span style="margin-left: 10px;">{{ dmpCoupon[0].couponId }}</span>
          </label>
        </div>
        <!-- 適用額 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">適用額</span>
            <span style="margin-left: 10px;">
              <template v-if="dmpCoupon[0].applyFee">
                ¥{{ Number(dmpCoupon[0].applyFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </span>
          </label>
        </div>
        <!-- DMP負担額 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">DMP負担額</span>
            <span style="margin-left: 10px;">
              <template v-if="dmpCoupon[0].dmpBurdenFee">
                ¥{{ Number(dmpCoupon[0].dmpBurdenFee).toLocaleString() }}
              </template>
              <template v-else>-</template>
            </span>
          </label>
        </div>
      </div>

      <h5 class="mb-4 fw-bold">購入者情報</h5>
      <div class="baseShadow p-3 mb-5">
        <!-- ユーザーID -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">ユーザーID</span>
            <span style="margin-left: 10px;">{{ dmpMemberId }}</span>
          </label>
        </div>
        <!-- 氏名 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">氏名</span>
            <span style="margin-left: 10px;">{{ familyName }} {{ firstName }}</span>
          </label>
        </div>
        <!-- カナ -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">カナ</span>
            <span style="margin-left: 10px;">{{ familyNameKana }} {{ firstNameKana }}</span>
          </label>
        </div>
        <!-- 電話番号 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">電話番号</span>
            <span style="margin-left: 10px;">{{ telephone }}</span>
          </label>
        </div>
        <!-- メールアドレス -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">メールアドレス</span>
            <span style="margin-left: 10px;">{{ email }}</span>
          </label>
        </div>
        <!-- 性別 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">性別</span>
            <span style="margin-left: 10px;">{{ gender }}</span>
          </label>
        </div>
        <!-- 生年月日 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">生年月日</span>
            <span style="margin-left: 10px;">{{ birthDate }}</span>
          </label>
        </div>
        <!-- 郵便番号 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">郵便番号</span>
            <span style="margin-left: 10px;">{{ zipCode }}</span>
          </label>
        </div>
        <!-- 住所 -->
        <div class="row mb-4">
          <label class="form-label">
            <span style="width: 120px; display: inline-block;">住所</span>
            <span style="margin-left: 10px;">{{ prefecture }}{{ address }}</span>
          </label>
        </div>
      </div>
    </form>

    <!-- アクションモーダル -->
    <div :style="actionModal.show ? 'display: block' : 'display: none'" class="modalMain">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <template v-if="actionModal.type === 'reset'">キャンセル</template>
              <template v-if="actionModal.type === 'stop'">キャンセル承認</template>
              <template v-if="actionModal.type === 'restoration'">キャンセル承認却下</template>
            </h5>
            <button @click="onActionModalClose" type="button" class="btn-close"></button>
          </div>
          <div class="modal-body m-3">
            <p v-if="actionModal.type === 'reset'">キャンセルを実行しますか？</p>
            <p v-if="actionModal.type === 'stop'">キャンセルを承認しますか？</p>
            <p v-if="actionModal.type === 'restoration'">キャンセルを承認却下しますか？</p>
            <div class="text-end">
              <button
                @click="onReset"
                v-if="actionModal.type === 'reset'"
                type="button"
                class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
              >リセット実行</button>
              <button
                @click="onStop"
                v-if="actionModal.type === 'stop'"
                type="button"
                class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
              >停止実行</button>
              <button
                @click="onRestoration"
                v-if="actionModal.type === 'restoration'"
                type="button"
                class="btn baseBtnBlue" style="width: 136px;font-size: 12px; margin-bottom: 10px;"
              >復旧実行</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      :style="actionModal.show ? 'display: block' : 'display: none'"
      class="modalBg"
      @click="onActionModalClose">
    </div>
  </main>
</div>

<script type="text/javascript">
const forms = `<%- forms %>`;

new Vue({
  el: "#ordersRegist",
  data: {
    // アクションモーダル
    actionModal: {
      show: false,               // 表示
      type: '',                  // タイプ（reset/stop/restoration）
      title: '',                 // タイトル
    },
    // APIデータ
    forms: JSON.parse(forms),
    // 登録データ
    transactionId: "",                 // 取引ID
    transactionStatus: "",             // 取引ステータス
    transactionDatetime: "",           // 取引日時
    purchaseTenant: "",                // 購入テナント
    paymentWayType: "",                // 支払方法
    totalFee: "",                      // 商品代金
    tenantCouponApplyFee: "",          // テナントクーポン割引額
    dmpCouponApplyFee: "",             // DMPクーポン割引額
    storePaymentCommission: "",        // コンビニ支払手数料
    // 注文情報
    orderInformations: [],
    // テナントクーポン情報
    tenantCoupon: [],
    // DMPクーポン情報
    dmpCoupon: [],
    // 購入者情報
    dmpMemberId: "",                   // ユーザーID
    familyName: "",                    // 姓
    firstName: "",                     // 名
    familyNameKana: "",                // セイ
    firstNameKana: "",                 // メイ
    telephone: "",                     // 電話番号
    email: "",                         // メールアドレス
    gender: "",                        // 性別
    birthDate: "",                     // 生年月日
    zipCode: "",                       // 郵便番号
    prefecture: "",                    // 都道府県
    address: "",                       // 市区町村
  },
  created() {
    this.forms.orderInformations.forEach(item => {
      item.tabStatus = false;
    });
    this.setInitData(); 
  },
  methods: {
    /**
     * 登録情報セット
     */ 
     setInitData() { 
      this.transactionId = this.forms.transactionId;
      this.transactionStatus = this.forms.transactionStatus;
      this.transactionDatetime = this.forms.transactionDatetime;
      this.purchaseTenant = this.forms.purchaseTenant;
      this.paymentWayType = this.forms.paymentWayType;
      this.totalFee = this.forms.totalFee;
      this.tenantCouponApplyFee = this.forms.tenantCouponApplyFee;
      this.dmpCouponApplyFee = this.forms.dmpCouponApplyFee;
      this.storePaymentCommission = this.forms.storePaymentCommission;
      // 注文情報
      this.orderInformations = this.forms.orderInformations;
      // テナントクーポン情報
      this.tenantCoupon = this.forms.tenantCoupon;
      // DMPクーポン情報
      this.dmpCoupon = this.forms.dmpCoupon;
      // 購入者情報
      this.dmpMemberId = this.forms.dmpMemberId;
      this.familyName = this.forms.familyName;
      this.firstName = this.forms.firstName;
      this.familyNameKana = this.forms.familyNameKana;
      this.firstNameKana = this.forms.firstNameKana;
      this.telephone = this.forms.telephone;
      this.email = this.forms.email;
      this.gender = this.forms.gender;
      this.birthDate = this.forms.birthDate;
      this.zipCode = this.forms.zipCode;
      this.prefecture = this.forms.prefecture;
      this.address = this.forms.address;
    },
    /**
     * 支払情報 合計金額（商品代金 - テナントクーポン割引額 - DMPクーポン割引額 + コンビニ支払手数料）
     */ 
     calcPaymentSum() {
      return Number(this.totalFee) - Number(this.tenantCouponApplyFee) - Number(this.dmpCouponApplyFee) + Number(this.storePaymentCommission);
    },
    /**
     * 注文情報 合計金額（購入内容 * 購入枚数）
     */ 
     calcOrderSum(item) {
      let sum = 0;
      item.forEach(i => {
        sum += Number(i.saleUnitPrice) * Number(i.purchaseQty);
      });
      return sum;
    },
    /**
     * アコーディオン
     */ 
     onTabToggle(e) {
      let target = e.target.closest(".tabToggle");
      target.classList.toggle('active');
    },
    /**
     * アクションモーダル（Open）
     */ 
     onActionModalOpen(type) {
      // let actionType = type;
      // if(type === 'stop') actionType = 'restoration';
      // if(type === '' || type === 'restoration') actionType = 'stop';
      this.actionModal.show = true;
      this.actionModal.type = actionType;
    },
    /**
     * アクションモーダル（Close）
     */ 
     onActionModalClose() {
      this.actionModal.show = false;
      this.actionModal.type = '';
    },
    /**
     * 画面遷移（部分キャンセル）
     */
     onPartialCancellPage() {

      window.location.href = "http://localhost:3000/orders/partialCancell/0001";
    },
    /**
     * 登録処理
     */ 
    onSubmit() {
      this.$v.$touch();
      this.validationUseTenants();
      if(!this.$v.$invalid && this.useTenantsCheck) {
        document.orders.method="post";
        document.orders.action = "/orders/regist";
        document.orders.submit();
      }
    }
  }
})
</script>
</body>
</html>