<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="tenantsRegist">
    <form @submit.prevent="onSubmit" name="tenants">
      <h4 class="mb-5 fw-bold" style="color:#0069D9;">
        <img src="/images/icon/tenant.svg" style="width: 24px;">
        <template v-if="displayType === 'regist'" class="fs-4">テナント登録</template>
        <template v-else class="fs-4">テナント詳細</template>
      </h4>

      <!-- テナント名 -->
      <div v-if="displayType === 'regist'" class="row mb-5">
        <label class="form-label">テナント名 <span class="redDC3545">*必須</span></label>
        <div class="col-8">
          <input
            v-model="tenantName"
            name="tenantName"
            maxlength="50"
            type="text"
            class="form-control mb-2"
            placeholder="テナント名を入力"
          />
          <div v-if="$v.tenantName.$dirty" class="text-danger fw-bold">
            <p v-if="!$v.tenantName.required">テナント名が入力されていません。</p>
          </div>
        </div>
      </div>

      <div v-if="displayType === 'detail'" :style="facilityTabStatus ? 'height: inherit' : { height: '65px', overflow: 'hidden' }" class="baseShadow p-4 mb-5">
        <div class="d-flex">
          <div class="me-auto"><h5 class="mb-4 fw-bold">施設情報</h5></div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('facilityTabStatus')"
              :style="facilityTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <!-- テナント名 -->
        <div class="row mb-5">
          <label class="form-label">テナント名</label>
          <div class="col-8">{{ tenantName }}</div>
        </div>
        <!-- 施設名 -->
        <div class="row mb-5">
          <label class="form-label">施設名 <span class="redDC3545">*必須</span></label>
          <div class="col-8">
            <input
              v-model="facilityName"
              name="facilityName"
              maxlength="50"
              type="text"
              class="form-control mb-2"
              placeholder="施設名を入力"
            />
            <div v-if="$v.facilityName.$dirty" class="text-danger fw-bold">
              <p v-if="!$v.facilityName.required">施設名が入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- 施設住所 -->
        <div class="row mb-5">
          <label class="form-label">施設住所 <span class="redDC3545">*必須</span></label>
          <div class="col-8">
            <textarea
              v-model="location"
              name="location"
              maxlength="161"
              rows="3"
              placeholder="施設住所を入力"
              class="form-control mb-2"
            ></textarea>
            <div v-if="$v.location.$dirty" class="text-danger fw-bold">
              <p v-if="!$v.location.required">施設住所が入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- 電話番号 -->
        <div class="row mb-5">
          <label class="form-label">電話番号</label>
          <div class="col-8">
            <input
              v-model="telephone"
              name="telephone"
              maxlength="21"
              type="text"
              class="form-control mb-2"
              placeholder="電話番号を入力"
            />
          </div>
        </div>
        <!-- 営業時間 -->
        <div class="row mb-5">
          <label class="form-label">営業時間 <span class="redDC3545">*必須</span></label>
          <div class="col-8">
            <textarea
              v-model="businessHour"
              name="businessHour"
              maxlength="200"
              rows="3"
              placeholder="営業時間を入力"
              class="form-control mb-2"
            ></textarea>
            <div v-if="$v.businessHour.$dirty" class="text-danger fw-bold">
              <p v-if="!$v.businessHour.required">営業時間が入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- 定休日 -->
        <div class="row mb-5">
          <label class="form-label">定休日 <span class="redDC3545">*必須</span></label>
          <div class="col-8">
            <input
              v-model="closedDate"
              name="closedDate"
              maxlength="50"
              type="text"
              class="form-control mb-2"
              placeholder="定休日を入力"
            />
            <div v-if="$v.closedDate.$dirty" class="text-danger fw-bold">
              <p v-if="!$v.closedDate.required">定休日が入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- 交通アクセス -->
        <div class="row mb-5">
          <label class="form-label">交通アクセス <span class="redDC3545">*必須</span></label>
          <div class="col-8">
            <textarea
              v-model="trafficAccess"
              name="trafficAccess"
              maxlength="200"
              rows="3"
              placeholder="交通アクセスを入力"
              class="form-control mb-2"
            ></textarea>
            <div v-if="$v.trafficAccess.$dirty" class="text-danger fw-bold">
              <p v-if="!$v.trafficAccess.required">交通アクセスが入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- ホームページURL -->
        <div class="row mb-5">
          <label class="form-label">ホームページURL</label>
          <div class="col-8">
            <input
              v-model="url"
              name="url"
              maxlength="200"
              type="text"
              class="form-control mb-2"
              placeholder="ホームページURLを入力"
            />
          </div>
        </div>
        <!-- 紹介文 -->
        <div class="row mb-5">
          <label class="form-label">紹介文</label>
          <div class="col-8">
            <textarea
              v-model="explain"
              name="explain"
              maxlength="120"
              rows="4"
              placeholder="交通アクセスを入力"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
        <!-- お知らせ -->
        <div class="row mb-5">
          <label class="form-label">お知らせ</label>
          <div class="col-8">
            <textarea
              v-model="webNoticeText"
              name="webNoticeText"
              maxlength="400"
              rows="4"
              placeholder="お知らせを入力"
              class="form-control mb-2"
            ></textarea>
          </div>
        </div>
      </div>

      <div v-if="displayType === 'detail'" :style="productTabStatus ? 'height: inherit' : { height: '65px', overflow: 'hidden' }" class="baseShadow p-4 mb-5">
        <div class="d-flex">
          <div class="me-auto"><h5 class="mb-4 fw-bold">画像</h5></div>
          <div style="cursor: pointer">
            <img
              @click="onTabToggle('productTabStatus')"
              :style="productTabStatus ? 'transform: inherit' : 'transform: scale(1, -1)'"
              src="/images/icon/arow.svg"
            >
          </div>
        </div>
        <!-- ロゴ -->
        <div class="row mb-4">
          <label class="form-label">ロゴ</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="tenantLogo" type="hidden" name="tenantLogo">
              <img :src="tenantLogoView" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="tenantLogo"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('tenantLogo')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル1 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル1</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel1" type="hidden" name="carousel1">
              <img :src="carousel1View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel1"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel1')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル2 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル2</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel2" type="hidden" name="carousel1">
              <img :src="carousel2View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel2"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel2')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル3 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル3</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel3" type="hidden" name="carousel1">
              <img :src="carousel3View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel3"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel3')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル4 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル4</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel4" type="hidden" name="carousel1">
              <img :src="carousel4View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel4"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel4')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル5 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル5</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel5" type="hidden" name="carousel1">
              <img :src="carousel5View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel5"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel5')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
        <!-- カルーセル6 -->
        <div class="row mb-4">
          <label class="form-label">カルーセル6</label>
          <div class="col-8 position-relative">
            <div class="border mb-3" style="display: block; height: 200px; overflow-y: scroll;">
              <input v-model="carousel6" type="hidden" name="carousel1">
              <img :src="carousel6View" class="d-block m-auto">
              <button
                @click="onDeleteImage"
                type="button"
                class="btn-close position-absolute"
                style="right: 35px; top: 15px; font-size: 14px"
                value="carousel6"
              ></button>
            </div>
            <div class="d-flex flex-row-reverse">
              <input @click="onImageModalOpen('carousel6')" type="button" value="アップロード" class="btn" style="width: 156px; background-color:  #1867C0; color: #FFF;">
            </div>
          </div>
        </div>
      </div>

      <!-- 保存ボタン -->
      <div class="d-flex flex-row-reverse mb-5">
        <input type="submit" value="保存" class="btn baseBtnBlue" style="width: 156px;">
      </div>
    </form>

     <!-- 画像追加モーダル -->
     <div :style="imageModal.show ? 'display: block' : 'display: none'" class="modalMain">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">画像追加</h5>
            <button @click="onImageModalClose" type="button" class="btn-close"></button>
          </div>
          <div
            @dragover.prevent="onFileDrag(true)"
            @dragleave="onFileDrag(false)"
            @drop.prevent="onFileDrop" 
            :class="{fileAreaFocus: isFileAreaFocus}"
            class="modal-body m-3"
          >
            <p>ここにファイルをドラッグ＆ドロップ<br>または</p>
            <input type="file" @change="onFileChange"/>
          </div>
        </div>
      </div>
    </div>
    <div
      :style="imageModal.show ? 'display: block' : 'display: none'"
      class="modalBg"
      @click="onImageModalClose">
    </div>
  </main>
</div>

<script type="text/javascript">
const forms = `<%- forms %>`;

Vue.use(window.vuelidate.default);
const { required, minLength } = window.validators;

new Vue({
  el: "#tenantsRegist",
  data: {
    displayType: "",
    facilityTabStatus: true,  // 施設情報タブ
    productTabStatus: true,   // 商品規約タブ
    isFileAreaFocus: false,   // ドラッグ&ドロップ領域判定
    tenantLogoView: "",       // 表示用データ(ロゴ)
    carousel1View: "",        // 表示用データ(カルーセル1)
    carousel2View: "",        // 表示用データ(カルーセル2)
    carousel3View: "",        // 表示用データ(カルーセル3)
    carousel4View: "",        // 表示用データ(カルーセル4)
    carousel5View: "",        // 表示用データ(カルーセル5)
    carousel6View: "",        // 表示用データ(カルーセル6)
    // 画像アップロード(モーダル)
    imageModal: {
      show: false,
      current: "",
    },
    // APIデータ
    forms: JSON.parse(forms),
    // 登録データ
    tenantName: "",           // テナント名
    facilityName: "",         // 施設名
    location: "",             // 施設住所
    telephone: "",            // 電話番号
    businessHour: "",         // 営業時間
    closedDate: "",           // 定休日
    trafficAccess: "",        // 交通アクセス
    url: "",                  // ホームページURL
    explain: "",              // 紹介文
    webNoticeText: "",        // お知らせ
    tenantLogo: "",           // ロゴ
    carousel1: "",            // カルーセル1
    carousel2: "",            // カルーセル2
    carousel3: "",            // カルーセル3
    carousel4: "",            // カルーセル4
    carousel5: "",            // カルーセル5
    carousel6: "",            // カルーセル6
  },
  validations: {
    tenantName: {
      required
    },
    facilityName: {
      required
    },
    location: {
      required
    },
    businessHour: {
      required
    },
    closedDate: {
      required
    },
    trafficAccess: {
      required
    },
  },
  created() {
    this.setInitData();
  },
  methods: {
    /**
     * 登録情報セット
     */ 
    setInitData() { 
      this.tenantName = this.forms.tenantName;
      this.facilityName = this.forms.facilityName;
      this.location = this.forms.location;
      this.telephone = this.forms.telephone;
      this.businessHour = this.forms.businessHour;
      this.closedDate = this.forms.closedDate;
      this.trafficAccess = this.forms.trafficAccess;
      this.url = this.forms.url;
      this.explain = this.forms.explain;
      this.webNoticeText = this.forms.webNoticeText;
      this.tenantLogoView = this.forms.tenantLogo;
      this.carousel1View = this.forms.carousel1;
      this.carousel2View = this.forms.carousel2;
      this.carousel3View = this.forms.carousel3;
      this.carousel4View = this.forms.carousel4;
      this.carousel5View = this.forms.carousel5;
      this.carousel6View = this.forms.carousel6;
      location.href.match(/regist/) ? this.displayType = 'regist' : this.displayType = 'detail';
    },
    /**
     * アコーディオン
     */ 
     onTabToggle(target) {
      this[target] = !this[target];
    },
    /**
     * 画像アップロードモーダル（open）
     */ 
    onImageModalOpen(name) {
      this.imageModal.show = true;
      this.imageModal.current = name;
    },
    /**
     * 画像アップロードモーダル（close）
     */ 
    onImageModalClose() {
      this.imageModal.show = false;
      this.imageModal.current = "";
    },
    /**
     * 画像削除
     */ 
     onDeleteImage(event) {
      this[event.target.value] = "";
      this[event.target.value + "View"] = "";
    },
    /**
     * 登録処理
     */ 
    onSubmit() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        document.tenants.method="post";
        document.tenants.action = "/tenants/regist";
        document.tenants.submit();
      }
    },


    onFileDrag(flag) {
      this.isFileAreaFocus = flag;
    },
    onFileDrop(event) {
      this.isFileAreaFocus = false;
      const files = event.dataTransfer.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    onFileChange(event) {
      const files = event.target.files;
      if (files.length !== 1 || files[0].type.indexOf("image") !== 0) {
        return;
      }
      this.createFileData(files);
    },
    createFileData(files) {
      const reader = new FileReader();
      reader.readAsDataURL(files[0]);
      reader.onloadend = () => {
        this[this.imageModal.current] = reader.result;
        this.imageModal.current = "";
      };
      this[this.imageModal.current + "View"] = URL.createObjectURL(files[0]);
    },
  }
})
</script>
</body>
</html