<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="productsReference">    
    <h4 class="mb-4 fw-bold">商品登録</h4>
  </main>
</div>

<script type="text/javascript">
</script>
</body>
</html>