<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="productsRegist">    
    <h4 class="mb-4 fw-bold">商品登録</h4>

    <form @submit.prevent="onSerch" class="mb-5">
      <!-- 基本情報 -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">基本情報</h5>
        <div class="col-4 mb-4">
          <label class="form-label">商品名</label>
          <input
            name="product_name"
            type="text"
            class="form-control"
            placeholder="商品名"
          >
        </div>
        <div class="col-6">
          <label class="form-label">商品説明</label>
          <textarea
            name="product_setumei"
            rows="3"
            class="form-control mb-2"
          ></textarea>
        </div>
      </div>
      <!-- 年齢区分 -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">年齢区分</h5>
        <div class="col-8">
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">年齢区分</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in oldItems" :key="index">
                <th>{{ index + 1 }}</th>
                <td>{{ item.name }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- 利用方法 -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">利用方法</h5>
      </div>
      <!-- 商品タグ -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">商品タグ</h5>
      </div>
      <!-- 商品画像 -->
      <div class="baseShadow p-3 mb-5">
        <h5 class="mb-4 fw-bold">商品画像</h5>
      </div>
      <div class="d-flex flex-row-reverse mb-4">
        <input
          type="submit"
          value="保存"
          class="btn w-25 mt-4 baseBtnGrey"
        />
      </div>
    </form>
  </main>
</div>

<script type="text/javascript"> 
new Vue({
  el: "#productsRegist",
  data: {
    // 固定値データ
    oldItems: [
      { name: "大人" },
      { name: "中人" },
      { name: "小人" },
      { name: "幼児" },
      { name: "シニア" }
    ],
    // 登録データ
  },
  created() {
  },
  methods: {
  }
})
</script>
</body>
</html>