<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="plansRegist">    
    <h4 class="mb-4 fw-bold">料金プラン登録</h4>
    <div class="row">
      <div class="col-4">
        <label class="form-label">料金プラン名</label>
        <input
          v-model="planName"
          name="planName"
          type="text"
          class="form-control"
          placeholder="料金プラン名"
        >
      </div>
    </div>

    <div style="text-align: right;">
      <input @click="onDownload" type="button" class="btn baseBtnGrey" value="ダウンロード" />
      <input @click="onImport" type="button" class="btn baseBtnGrey" value="ファイル取込み" />
    </div>
    
    <div class="row">
      <div class="col-6">
        <img
          @click="onPrev"
          style="cursor: pointer; transform: rotate(360deg);"
          src="/images/icon/arow_calendar.svg"
        />
        <div class='renderCalendar' data-month="thisMonth"></div>
      </div>
      <div class="col-6">
        <img
          @click="onNext"
          style="cursor: pointer; transform: rotate(180deg)"
          src="/images/icon/arow_calendar.svg"
        />
        <div class='renderCalendar' data-month="nextMonth"></div>
      </div>
    </div>
  </main>
</div>

<script type="text/javascript">
const calendars= `<%- calendars %>`;
console.log()

new Vue({
  el: "#plansRegist",
  data: {
    title: '',
    calendar: {
      initialView: 'dayGridMonth',
      locale: 'ja',
      initialDate: new Date(),
      headerToolbar: {
        left: '',
        center: 'title',
        right: ''
      },
      events: [],
      dayCellContent(e) {
        e.dayNumberText = e.dayNumberText.replace('日', '');
      },
      eventClick: (e) => {
        console.log("eventClick:", e);
      },
    },
    // 登録データ
    planName: "",            // 料金プラン名
  },
  created() {
    this.createEventData(JSON.parse(calendars).events);
  },
  mounted() {
    this.renderCalendar(this.calendar, this.createBaseDate(this.calendar.initialDate));
  },
  methods: {
    // ダウンロード
    onDownload() {
      let csv = '\ufeff' + 'id,type,title,start,end\n';
      this.calendar.events.forEach(el => {
        let line = `${el['id']},${el['type']},${el['title']},${el['start']},${el['end']}`;
        csv += (line + '\n');
      })
      let link = document.createElement('a');
      link.href = window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));
      link.download = 'お知らせ一覧.csv';
      link.click();
    },
    // ファイル取込み
    onImport () {
      alert("ファイル取込み")
    },
    // イベントデータ作成
    createEventData(events) {
      events.forEach(item => {
        let retultDate = this.createBaseDate(item.end);
        if(item.start && item.end) {
          item.start = `${item.start}T00:00`;
          item.end = `${item.end}T24:00`;
        }
        this.calendar.events.push(item);
      });
    },
    // 基準日の作成
    createBaseDate(date) {
      let year = moment(date).format("YYYY");
      let month = moment(date).format("M");
      let retultDate = new Date(year, (month - 1));
      return retultDate;
    },
    // 表示切り替え(1ヶ月前)
    onPrev() {
      let retultDate = this.createBaseDate(this.calendar.initialDate);
      retultDate.setMonth(retultDate.getMonth() - 3);
      retultDate.setDate(1);
      this.calendar.initialDate = retultDate;
      this.updateCalendarView();
    },
    // 表示切り替え(1ヶ月後)
    onNext() {
      let retultDate = this.createBaseDate(this.calendar.initialDate);
      retultDate.setMonth(retultDate.getMonth() + 1);
      retultDate.setDate(1);
      this.calendar.initialDate = retultDate;
      this.updateCalendarView();
    },
    // カレンダー描画
    renderCalendar(calendarObj, nextMonth) {
      const calendars = document.querySelectorAll('.renderCalendar');
      calendars.forEach(function(calendarEl) {
        if(calendarEl.dataset['month'] === 'nextMonth') {    
          nextMonth.setMonth(nextMonth.getMonth() + 1);
          calendarObj.initialDate = nextMonth;
        }
        let calendar = new FullCalendar.Calendar(calendarEl, calendarObj);
        calendar.render();
      });
    },
    // カレンダー表示更新
    updateCalendarView() {
      this.calendar.events = [];
      this.getCalendarApi().then(res => {
        if (typeof res !== 'undefined') {
          this.createEventData(res.events);    
          this.renderCalendar(this.calendar, this.createBaseDate(this.calendar.initialDate));
        }
      })
    },
    // カレンダーAPI
    async getCalendarApi(args) {
      return await axios.get('https://beauty.tsuku2.jp/api/menus?category_id=1').then((res) => {
        if (typeof res !== 'undefined') {
          return {
            events: [
              {
                id: '5',
                type: '0',
                title: '料金区分A',
                start: '2022-11-07',
                end: ''
              },
              {
                id: '6',
                type: '2',
                title: '売り止め',
                start: '2022-11-20',
                end: '2022-11-23'
              }
            ]
          } 
        }
      }).catch((error) => {
        console.log(error);
      })
    },
  }
})
</script>
</body>
</html>