<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <main id="passwordResetIndex" style="width: 100%; height:100%; top: 140px; left: 50%; transform: translate(-50%, -50%);">
      <h4 class="mb-5 fw-bold text-center" style="width: 368px; margin: auto;">
        パスワード変更
      </h4>

      <form @submit.prevent="onSubmit" name="login">
        <div class="mb-5">
          <!-- 新しいパスワード -->
          <input
            v-model="password"
            name="password"
            maxlength="99"
            type="text"
            class="form-control"
            placeholder="新しいパスワード"
            style="width: 368px; margin: auto; border-bottom: 0; border-radius: .25rem .25rem 0 0;"
          />
          <!-- 新しいパスワード（確認） -->
          <input
            v-model="confirmPassword"
            name="confirmPassword"
            maxlength="99"
            type="text"
            class="form-control mb-4"
            placeholder="新しいパスワード（確認）"
            style="width: 368px; margin: auto; border-radius: 0 0 .25rem .25rem;"
          />
          <div class="col-6" style="margin: 0 auto">
            <div>パスワードの条件：</div>
            <div style="color: #5F9A5F;">
              <img src="/images/icon/passwordReset.svg">
              <span>8文字以上、99文字以下</span>
            </div>
            <div style="color: #5F9A5F;">
              <img src="/images/icon/passwordReset.svg">
              <span>英大文字、英小文字、数字、特殊文字を含む</span>
            </div>
            <div style="color: #5F9A5F;">
              <img src="/images/icon/passwordReset.svg">
              <span>特殊文字は^ $ * . [ ] { } ( ) ? “ ! @ # % & / \ , > < ‘ : ; | _ ~ ` = + -と半角スペースが使用できます</span>
            </div>
            <div v-if="$v.password.$dirty" class="text-danger fw-bold" style="font-size: 14px;">
              <p v-if="!$v.password.required">新しいパスワードが入力されていません。</p>
            </div>
            <div v-if="$v.confirmPassword.$dirty" class="text-danger fw-bold" style="font-size: 14px;">
              <p v-if="!$v.confirmPassword.required">新しいパスワード（確認）が入力されていません。</p>
            </div>
          </div>
        </div>
        <!-- 変更ボタン -->
        <div class="col-6 text-center" style="margin: 0 auto;">
          <input type="submit" value="変更" class="btn baseBtnBlue" style="width: 156px;">
        </div>
      </form>
    </div>
  </main>
</div>

<script type="text/javascript">
Vue.use(window.vuelidate.default);
const { required, minLength } = window.validators;

new Vue({
  el: "#passwordResetIndex",
  data: {  
    // 送信データ
    password: "",          // パスワード
    confirmPassword: "",   // 確認パスワード
  },
  validations: {
    password: {
      required
    },
    confirmPassword: {
      required
    },
  },
  methods: {
    /**
     * ログイン処理
     */ 
    onSubmit() {
      this.$v.$touch();
      if(!this.$v.$invalid) {
        document.login.method="post";
        document.login.action = "/passwordReset";
        document.login.submit();
      }
    },
  }
})
</script>
</body>
</html>