<%- include('../../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../../partials/header'); %>

  <%- include('../../../partials/sidebar'); %>

  <main id="noticeIndex">
    <div class="d-flex justify-content-between mb-5">
      <p class="fs-4">施設情報管理</p>
      <div>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
    </div>
   
  </main>
</div>

<script type="text/javascript">

</script>
</body>
</html>