<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>

  <main id="notificationDetails">
    <form>
      <div class="d-flex justify-content-between mb-5">
        <p class="fs-4">お知らせ詳細</p>
        <div>
          <input
            formmethod="post"
            :formaction=`/notification/${notice_id}/edit`
            type="submit"
            value="保存"
            class="btn btn-primary"
          />
          <input
            formmethod="post"
            :formaction=`/notification/${notice_id}/delete`
            type="submit"
            value="削除"
            class="btn btn-primary"
          />
        </div>
      </div>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          公開範囲
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <input
            v-model="$v.open_range.$model"
            name="open_range"
            value="consumer"
            class="form-check-input"
            type="radio"
            id="consumer"
          />
          <label class="form-check-label" for="consumer">コンシューマ</label>
          <input
            v-model="$v.open_range.$model"
            name="open_range"
            value="back_office" 
            class="form-check-input mb-2"
            type="radio"
            id="back_office"
          />
          <label class="form-check-label" for="back_office">バックオフィス</label>
          <div v-if="$v.open_range.$dirty" class="text-danger fw-bold">
            <span v-if="!$v.open_range.required">必須項目が選択されていません。</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          お知らせタイトル
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <input
            v-model="$v.notice_title.$model"
            name="notice_title"
            maxlength="50"
            type="text"
            class="form-control mb-2"
          />
          <div v-if="$v.notice_title.$dirty" class="text-danger fw-bold">
            <span v-if="!$v.notice_title.required">必須項目が入力されていません。</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          お知らせ本文
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <textarea
            v-model="notice_body"
            name="notice_body"
            maxlength="2000"
            rows="3"
            class="form-control mb-2"
          ></textarea>
          <div v-if="$v.notice_body.$dirty" class="text-danger fw-bold">
            <span v-if="!$v.notice_body.required">必須項目が入力されていません。</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          タグ
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <select v-model="$v.tag.$model" name="tag" class="form-select mb-2">
            <option
              v-for="item in tagItems"
              :key="item.name"
              :value="item.name"
            >{{ item.name }}</option>
          </select>
          <div v-if="$v.tag.$dirty" class="text-danger fw-bold">
            <span v-if="!$v.tag.required">必須項目が選択されていません。</span>
          </div>
        </div>
      </div>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          投稿日時
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <input
            v-model="pickeDate"
            @change="onPickeDateChange"
            value="type1"
            id="type1"
            class="form-check-input"
            type="radio"
          >
          <label class="form-check-label" for="type1">
            日時を指定
          </label>
          <input
            v-model="pickeDate"
            @change="onPickeDateChange"
            value="type2"
            id="type2"
            class="form-check-input"
            type="radio"
          >
          <label class="form-check-label" for="type2">
            即時を指定
          </label>
          <template v-if="pickeDate==='type1'">
            <vue-ctk-date-time-picker
              name="date_time"
              v-model="$v.date_time.$model"
              formatted="YYYY/MM/DD hh:mm"
              :min-date="minDate"
              position="top"
              label=""
              class="mt-2"
            /></vue-ctk-date-time-picker>
          </template>
          <template v-else>
            <input v-model="$v.date_time.$model" name="date_time" type="hidden">
          </template>
          <div v-if="$v.date_time.$dirty" class="text-danger fw-bold mt-2">
            <span v-if="!$v.date_time.required">必須項目が入力されていません。</span>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>

<script type="text/javascript">
const response = JSON.parse(`<%- response %>`);

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

Vue.use(window.vuelidate.default);
const { required } = window.validators;

new Vue({
  el: "#notificationDetails",
  data: {
    tagItems: [
      { name: "アトラクション" },
      { name: "フード&レストラン" },
      { name: "グッツ&ショップ" },
      { name: "チケット" },
      { name: "ホテル&関連施設" },
      { name: "お知らせ" }
    ],
    pickeDate: "type1",
    minDate: moment(new Date()).format("YYYY-MM-DD"),
    // 登録データ
    notice_id: response.notice_id,
    open_range: response.open_range,
    notice_title: response.notice_title,
    notice_body: response.notice_body,
    tag: response.tag,
    date_time: response.date_time,
  },
  validations: {
    open_range: {
      required,
    },
    notice_title: {
      required,
    },
    notice_body: {
      required,
    },
    tag: {
      required,
    },
    date_time: {
      required,
    },
  },
  methods: {
    onPickeDateChange() {
      if(this.pickeDate === 'type2') {
        this.setDateNow();
      } else {
        this.date_time = "";
      }
    },
    setDateNow() {
      this.date_time = moment(new Date()).format('YYYY/MM/DD hh:mm');
    },
  }
})
</script>
</body>
</html>