<%- include('../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../partials/header'); %>

  <%- include('../../partials/sidebar'); %>
  <main id="noticeInquiryPage">

    <form @submit.prevent="onSubmit" name="notice_regist">
      <button type="submit" class="btn btn-primary">検索</button>
      <button type="submit" class="btn btn-primary">CSVダウンロード</button>

      <div class="form-group row mb-4">
        <label class="col-sm-4 col-form-label">
          お知らせタイトル
          <span class="badge bg-danger">必須</span>
        </label>
        <div class="col-md-8">
          <input
            name="notice_title"
            maxlength="50"
            type="text"
            class="form-control mb-2"
          />
        </div>
      </div>
    </form>

    



    <vue-good-table :columns="columns" :rows="rows"/>
  </main>
</div>

<script type="text/javascript">
Vue.use(window.vueGoodTable.default);

new Vue({
  el: "#noticeInquiryPage",
  data: {
    columns: [
      {
        label: 'お知らせID',
        field: 'id',
        type: 'number',
      },
      {
        label: '公開範囲',
        field: 'name',
      },
      {
        label: 'Age',
        field: 'age',
        type: 'number',
      },
      {
        label: 'Created On',
        field: 'createdAt',
        type: 'date',
        dateInputFormat: 'YYYY-MM-DD',
        dateOutputFormat: 'MMM Do YY',
      },
      {
        label: 'Percent',
        field: 'score',
        type: 'percentage',
      },
    ],
    rows: [
      { id:1, name:"John", age: 20, createdAt: '201-10-31:9: 35 am',score: 0.03343 },
      { id:2, name:"Jane", age: 24, createdAt: '2011-10-31', score: 0.03343 },
      { id:3, name:"Susan", age: 16, createdAt: '2011-10-30', score: 0.03343 },
      { id:4, name:"Chris", age: 55, createdAt: '2011-10-11', score: 0.03343 },
      { id:5, name:"Dan", age: 40, createdAt: '2011-10-21', score: 0.03343 },
      { id:6, name:"John", age: 20, createdAt: '2011-10-31', score: 0.03343 },
    ]
  },
  methods: {
  }
})
</script>
</body>
</html>