<%- include('../../../partials/head'); %>

<body>
<div class="layout">
  <%- include('../../../partials/header'); %>

  <%- include('../../../partials/sidebar'); %>

  <main id="noticeIndex">
    <form @submit.prevent="onSerch" name="noticeSerch" class="mb-5">
      <div class="d-flex justify-content-between mb-5">
        <p class="fs-4">お知らせ照会</p>
        <div>
          <button type="submit" class="btn btn-primary">検索</button>
          <input @click="onCsvDownload" type="button" class="btn btn-primary" value="CSVダウンロード" />
        </div>
      </div>
      <div class="container">
        <div class="row mb-3">
          <div class="col-4">
            <label>ステータス</label>
          </div>
          <div class="col-8">
            <select v-model="status" name="status" class="form-select form-select-sm">
              <option
                v-for="item in statusItems"
                :key="item.name"
                :value="item.name"
              >{{ item.name }}</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label>お知らせタイトル</label>
          </div>
          <div class="col-8">
            <input
              v-model="notice_title"
              name="notice_title"
              type="text"
              class="form-control form-control-sm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-4">
            <label>タグ</label>
          </div>
          <div class="col-8">
            <select v-model="tag" name="tag" class="form-select form-select-sm">
              <option
                v-for="item in tagItems"
                :key="item.name"
                :value="item.name"
              >{{ item.name }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label>投稿日時</label>
          </div>
          <div class="col-8">
            <p>datePicker作り直し</p>
            <!-- <vue-ctk-date-time-picker
              name="date_time"
              v-model="date_time"
              formatted="YYYY/MM/DD hh:mm"
              :min-date="minDate"
              position="bottom"
              label=""
            /></vue-ctk-date-time-picker> -->
          </div>
        </div>
      </div>
    </form>

    <form @submit.prevent="onUpdate" name="notice_inquiry">
      <table class="table table-bordered small">
        <thead class="table-secondary">
          <tr class="align-middle">
            <th scope="col">お知らせID</th>
            <th scope="col">公開範囲</th>
            <th scope="col">お知らせタイトル</th>
            <th scope="col">タグ</th>
            <th scope="col">投稿日時</th>
            <th scope="col">詳細</th>
            <th scope="col">コピーして新規</th>
            <th scope="col">並び替え</th>
          </tr>
        </thead>
        <tbody>
          <tr template v-for="item in tableItems" :key="item.index">
            <td>{{ item.notice_id }}</td>
            <td>{{ item.open_range }}</td>
            <td>{{ item.notice_title }}</td>
            <td>{{ item.tag }}</td>
            <td>{{ item.date_time }}</td>
            <td>
              <a :href=`/institution/notice/${item.notice_id}`>
                <button type="button" class="btn btn-secondary btn-sm">詳細</button>
              </a>
            </td>
            <td><button type="button" class="btn btn-secondary btn-sm">コピーして新規</button></td>
            <td>
              <button type="submit" type="button" class="btn btn-secondary btn-sm">上へ</button>
              <button type="submit" type="button" class="btn btn-secondary btn-sm">下へ</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
</div>

<script type="text/javascript">
const notices = JSON.parse(`<%- notices %>`);

const VueCtkDateTimePicker = window['vue-ctk-date-time-picker'];
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

new Vue({
  el: "#noticeIndex",
  data: {
    statusItems: [
      { name: "公開" },
      { name: "非公開" }
    ],
    tagItems: [
      { name: "アトラクション" },
      { name: "フード&レストラン" },
      { name: "グッツ&ショップ" },
      { name: "チケット" },
      { name: "ホテル&関連施設" },
      { name: "お知らせ" }
    ],
    tableItems: notices,
    minDate: moment().format('YYYY-MM-DD'),
    // 検索データ
    status: "",
    notice_title: "",
    tag: "",
    date_time: null,
  },
  methods: {
    onSerch() {
      document.noticeSerch.method="get";
      document.noticeSerch.action = "/institution/notice";
      document.noticeSerch.submit();
    },
    onCsvDownload() {
      let csv = '\ufeff' + 'お知らせID,公開範囲,お知らせタイトル,タグ,投稿日時\n';
      this.tableItems.forEach(el => {
        let line = `${el['notice_id']},${el['open_range']},${el['notice_title']},${el['tag']},${el['date_time']}`;
        csv += (line + '\n');
      })
      let link = document.createElement('a');
      link.href = window.URL.createObjectURL(new Blob([csv], { type: 'text/csv' }));
      link.download = 'お知らせ一覧.csv';
      link.click();
    },
    onUpdate() {
      alert("onUpdate")
    }
  }
})
</script>
</body>
</html>